<h1>Welcome to the Farmer's Market Finder!</h1>

<div id="bg">
  <div id="search">


    <h2>Market</h2>

			<%= link_to image_tag("market.png"), markets_path , :id => "market_button" %>
 </div>
</div>

<%= link_to image_tag("vendor.jpeg"), vendors_path, :id => 'vendor_button' %>
