<h1>Welcome to the Farmer's Market Finder!</h1>

<div id="bg">
  <div id="search">
    <h2>Market</h2>
			<%= link_to image_tag("market.png"), :method => 'get', :controller => 'markets', :id => 'market_button' %>
 </div>
</div>

<%= link_to image_tag("vendor.jpeg"), :method => 'get', :controller => 'vendors', :id => 'vendor_button' %>