<h1>Welcome to the Farmer's Market Finder!</h1>

<a href="/markets">
<div id="market">
  <div id="market_back">
    <h2>Continue as Market</h2>
 </div>
</div>
</a>

<br><br>

<a href="/vendors">
<div id="vendor">
  <div id="vendor_back">
    <h2>Continue as Vendor</h2>
 </div>
</div>
</a>

<br><br>

