<h1>Market Details</h1>

<p> Name : <%= @market.name %> </p>
<p> City: <%= @market.city %> </p>
<h2> List of Vendors </h2>

<% @market.vendors.each do |vendor| %>
  <li><%= vendor.name %> </li>
<% end %>
<br><br>
