<h1>Vendors Main Page</h1>

<h2><%= link_to "Search for a Vendor Directly", search_vendors_path %></h2>

<a href="/vendors/new">
<div class="new">
  <div class="vendor_back">
    <h2>New Vendor</h2>
	</div>
</div>
</a>

<br><br>

<a href="/vendors/show_vendors">
<div class="edit">
  <div class="vendor_back">
    <h2> View, Edit, or Delete Current Vendors </h2>
	</div>
</div>
</a>

<br><br>
