<h1>Market Main Page</h1>

<a href="/market/new">
<div class="new">
  <div class="market_back">
    <h2>New Market</h2>
	</div>
</div>
</a>

<br><br>

<a href="/market/show_market">
<div class="edit">
  <div class="market_back">
    <h2> View, Edit, or Delete Current Market </h2>
	</div>
</div>
</a>
