<h1>Market Main Page</h1>
<h2><%= link_to "Search for a Market Directly", search_markets_path %></h2>

<a href="/markets/new">
<div class="new">
  <div class="market_back">
    <h2>New Market</h2>
	</div>
</div>
</a>

<br><br>

<a href="/markets/show_markets">
<div class="edit">
  <div class="market_back">
    <h2> View, Edit, or Delete Current Market </h2>
	</div>
</div>
</a>

<br><br>
