<h1>Market Details</h1>

<p> Name : <%= @market.name %> </p>
<p> City: <%= @market.city %> </p>
<h3> <%= link_to "See Vendors", market_by_vendor_path(@market) %> </h3>
<h3> <%= link_to "Back to Markets", show_markets_markets_path %> </h3>