body {
  text-align: center;
  background: rgba(255, 255, 255, .5);
  font-family: Raleway, sans-serif;
  width: 100%;
  margin: auto;
  font-size: 20px;
  height: 100%;
}

.main-nav {
  background: rgba(181, 218, 219, .5);
  color: #F38630;
  position: relative;
  top: 0;
  height: 40px;
  width: 100%;
  text-align:center;
  font-size: 22px;
  padding-top: 10px;
}

img {
  height: 200px;
  width: 300px;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  padding: 20px;
}

#market {
  background-image: url('market.png');
  background-size: 300px 200px;
}

#market_back {
  padding: 20px;
  background: rgba(34,34,34,0.75);
  padding-bottom: 50px;
}

#market_back h2 { 
  text-align: center; 
  color: #fefefe; 
  font-weight: normal; 
}

#vendor {
  background-image: url('vendor.jpeg');
  background-size: 300px 200px;
}

#vendor_back {
  padding: 20px;
  background: rgba(34,34,34,0.75);
}

#vendor_back h2 { 
  text-align: center; 
  color: #fefefe; 
  font-weight: normal; 
  margin-bottom: 50px;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .8rem;
  text-align: center;
  font-size: 18px;
  background: rgba(181, 218, 219, .5);
  color: #000;
}